<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <h1 align="center">預覽衣服</h1>
    <style>input[type='number']{
        width: 80px;
    } </style>
</head>
<body>
    <div align="center">
        {% block content %}
        <table>
            <tr>
                <td>
                    {% if app.image %}
                    <img src="{{ app.image.url }}">
                    {% endif %}
                </td>
                <td>
                    {% if resultImage is not None %}
                    <img src="{{ resultImage }}" alt="cloth_preview img">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if text.shoulder_s %}
                    <table>
                        <tr>  
                            <th>size</th>  
                            <th>S</th>  
                            <th>M</th>
                            <th>L</th>
                            <th>XL</th>
                            <th>2L</th>  
                        </tr>  
                        <tr>  
                            <th>衣服肩寬</th>
                            <td>{{ text.shoulder_s }}</td>  
                            <td>{{ text.shoulder_m }}</td>  
                            <td>{{ text.shoulder_l }}</td> 
                            <td>{{ text.shoulder_xl }}</td> 
                            <td>{{ text.shoulder_2l }}</td>
                        </tr>  
                        <tr>  
                            <th>衣服胸寬</th>
                            <td>{{ text.chest_s }}</td>
                            <td>{{ text.chest_m }}</td>
                            <td>{{ text.chest_l }}</td>  
                            <td>{{ text.chest_xl }}</td>  
                            <td>{{ text.chest_2l }}</td>  
                        </tr>  
                        <tr>  
                            <th>衣服全長</th>  
                            <td>{{ text.length_s }}</td>  
                            <td>{{ text.length_m }}</td>
                            <td>{{ text.length_l }}</td>  
                            <td>{{ text.length_xl }}</td>  
                            <td>{{ text.length_2l }}</td>  
                        </tr>   
                    </table>
                    {% endif %}
                </td>
            </tr>
        {% endblock  %}
        </table>
            <br>
            <input type ="button" onclick="javascript:location.href='http://25.69.108.176:8000'" value="回首頁"></input>
    </div>
</body>

<br>
<br>

<footer>
    <div align="center">2022</div>
</footer>

</html>