<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <h1 align="center">預覽衣服</h1>
    <style>input[type='number']{
        width: 80px;
    } </style>
</head>
<body>
    <div align="center">
        {% block content %}
        <table>
            <tr>
                <td>
                    {% if app.image %}
                    <img src="{{ app.image.url }}">
                    {% endif %}
                </td>
                <td>
                    cloth_preview
                    <img src="">
                </td>
            </tr>
        
        
        {% endblock  %}
        </table>
            <br>
            <input type ="button" onclick="javascript:location.href='http://127.0.0.1:8000'" value="回首頁"></input>
    </div>
</body>

<br>
<br>

<footer>
    <div align="center">2022</div>
</footer>

</html>