<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>user_manual</title>
</head>
<style>
    .main {
        align: center;
    }
    .wrap {
        display: inline;
      }
    .content{
        text-align: left;
        width: 600px;
        margin-left: 10px auto;
    }
</style>
<body>
    <div align="center">
        <h2>使用者說明</h2>
        <div align="center">
            <div class="content">
                <strong>一、閱讀使用說明並同意使用者規定</strong><br>
                同意本專題使用您的影像。<br>
                測量注意事項:<br>
                1.站在距離鏡頭約1.2公尺處。<br>
                2.要求姿勢: 雙手向兩側垂下。<br>
                如:<br>
                <img src="{% static 'app/img/pose_require.jpg'%}" width="300" heigh="300" alt="pose_require">
                <br>
                3.確認周圍無障礙物。<br>
                4.請勿遮蔽您美麗的臉龐，如有配戴口罩請將口罩脫下。<br>
                5.建議穿著合身的衣物，以及在明亮的環境下測量，結果會更準確。<br>
                <br>
                閱讀以上說明並同意後按下按鈕。<br>
                <br>
                <strong>二、開始測量身材並確認影像</strong><br>
                1.按下"開始測量身材"按鈕。<br>
                2.顯示"測量成功"後，即可進入下一步選擇衣服。<br>
                <br>
                <strong>三、選擇欲試穿衣服</strong><br>
                挑一件自己喜歡的漂釀衣服。<br>
                <br>
                <strong>四、顯示結果</strong><br>
                將呈現您的身體數據、建議尺寸、試穿結果影像，以及所選衣服的尺寸表。<br>
                <br>
                <input type ="button" onclick="javascript:location.href='http://127.0.0.1:8000/user_showLidar'" value="已閱讀使用說明並同意此專題使用影像"></input>
            </div>
        </div>
    </div>
</body>
</html>