<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>user_showResult</title>
    <style type="text/css">
        table{
        border:1px solid;
        border-radius: 10px 10px 10px 10px;
    }
    td{
        width:30px;
        padding: 5px;
        text-align:center;
    }</style>
</head>
{% csrf_token %}
<body onload="user_show_img_Function()">
    <div align="center">
        <h3>身體數據</h3>
        <p>
            {% for name,data in bodyDataList%}
            {{ name }}: {{ data }} 公分<br>
            {% endfor %}
        </p>
    </div>
    <div align="center">
        <h3>建議尺寸</h3>
        <p>
            {{ size_result }}
        </p>
    </div>
    <div align="center">
        <h3>試穿結果</h3>
        <p>
            <img src="{{ resultImage }}" alt="showResult img">
        </p>
    </div>
    <div align="center">
        {% block content %}
        {% if text.shoulder_s %}
        <table> 
            <tr>  
                <th>size</th>  
                <th>S</th>  
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>2L</th>  
            </tr>  
            <tr>  
                <th>衣服肩寬</th>
                <td>{{ text.shoulder_s }}</td>  
                <td>{{ text.shoulder_m }}</td>  
                <td>{{ text.shoulder_l }}</td> 
                <td>{{ text.shoulder_xl }}</td> 
                <td>{{ text.shoulder_2l }}</td>
            </tr>  
            <tr>  
                <th>衣服胸寬</th>
                <td>{{ text.chest_s }}</td>
                <td>{{ text.chest_m }}</td>
                <td>{{ text.chest_l }}</td>  
                <td>{{ text.chest_xl }}</td>  
                <td>{{ text.chest_2l }}</td>  
            </tr>  
            <tr>  
                <th>衣服全長</th>  
                <td>{{ text.length_s }}</td>  
                <td>{{ text.length_m }}</td>
                <td>{{ text.length_l }}</td>  
                <td>{{ text.length_xl }}</td>  
                <td>{{ text.length_2l }}</td>  
            </tr> 

        </table>
        <br>
        {% endif %}
        {% endblock  %}
    <form method="get" action="">
        {% csrf_token %}
        <button type="submit">Go Home</button>
    </form>
    {% comment %} <button onclick="javascript:location.href='http://25.69.108.176:8000/'">Go Home</button> {% endcomment %}
</body>
<script type="text/javascript">
    function user_show_img_Function() {        
        document.getElementById("user_pose_img").src="http://25.69.108.176:8000/user_pose_img";
        document.getElementById("user_selectedcloth_img").src="http://25.69.108.176:8000/user_selectedcloth_img";
    };
</script>
</html>