<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>user_showResult</title>
</head>
<body onload="user_show_img_Function()">
    <div>
        <h3>身體數據</h3>
        <p>
            {{ bodyData }}<br>
        </p>
    </div>
    <div>
        <h3>建議尺寸</h3>
        <p>
            {{ size_result }}
        </p>
    </div>
    <form method="get" action="">
        {% csrf_token %}
        <button type="submit">Go Home</button>
    </form>
    {% comment %} <button onclick="javascript:location.href='http://25.69.108.176:8000/'">Go Home</button> {% endcomment %}
</body>
<script type="text/javascript">
    function user_show_img_Function() {        
        document.getElementById("user_pose_img").src="http://25.69.108.176:8000/user_pose_img";
        document.getElementById("user_selectedcloth_img").src="http://25.69.108.176:8000/user_selectedcloth_img";
    };
</script>
</html>